[Unit]
Description=Firedancer
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=root
LimitNOFILE=1000000
LogRateLimitIntervalSec=0
Environment="PATH=/bin:/usr/bin:/usr/local/bin"
ExecStartPre=fdctl configure init all --config /etc/firedancer/config.toml
ExecStart=fdctl run --config /etc/firedancer/config.toml
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target