---
all:
  children:
    mainnet_validators:
      children:
        local:
          hosts:
            localhost:
              #any var from group vars:
              validator_name: "<validator name>"
